/* lg */

@media (min-width: 1200px) {}


/* md */

@media (min-width: 992px) and (max-width: 1199px) {}

html,
body {
    height: 100%;
}

.layout-boxed html,
.layout-boxed body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0 auto;
}

h2 {
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    /*font-size: 5px;*/
    
}
.center{
      position:absolute;
  top:0;right:0;bottom:0;left:0;
  display:flex;
  align-items:center;
  justify-content:center;

  display:-webkit-flex;
  -webkit-align-item;center;
  -webkit-justify-content:center;
}
.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.col-lg-12 {
    width: 100%;
    margin: 0;
    padding: 0;
}

.col-lg-3 {
    margin: 0;
    padding: 0;
}

.headerimg {
    background-image:url(/resources/img/headbackground.jpg);
    background-color: rgb(136, 177, 75);
    width: 100%;
    height: 290px;
    transition-property: height;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: initial;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    
}
.headerimg .row {
   /* margin-top: 20px; */
}
.headerimg iframe {
    margin-left: 0px;
    width: 100px;
    height: 30px;
    background-color: black;
    border: none;
}

.headerimg #logo {
    margin-left: 150px;
    background-image: url(/resources/img/haedlogo.png);
    background-size: 300px, 300px;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border: none;
    display: block;
    
    
}

.headerimg h2 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    font-weight: 200;
    line-height: 48px;
    margin-bottom: -5px;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}
#headimg>a>img {
	width: 50px;
	height: 50px;
}

.menuitem {
    width: 100%;
    height: 59px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(230, 236, 240);
    align-items: center;
    border-bottom-color: silver;
    border-bottom: 1px;
    
    
}
.menuitem:hover,.menuitem:focus{
    border-bottom-color:#ffad1f;
    border-bottom-width: 5px;
    cursor: pointer;
    border-bottom: 2px;
}
.menuitem p {
    color: #14171a;
    font-size: 18px;
    font-weight: 200;
}


#content {
    width: 1200px;
    height: 700px;
    padding-left: 30px;
    padding-right: 30px;
}


/*
#content iframe{
    width: 100%;
    height: 100%;
    border: none;
    background-color: black;
}
*/
.musiclist .box-header{
    padding: none;
    margin: none;
}

.footervar {
    /*height: 600px;*/
}

.img {
    width: 300px;
    height: 400px;
}

.img img {
    height: 100%;
    width: 100%;
}

body select {
    margin-top: 3px;
}

.box {
    margin-top: 30px;
    margin-bottom: 30px;
    /*position: relative;*/
    border-radius: 3px;
    /*border-left: 3px solid #d2d6de;*/
    /*border-right: 3px solid #d2d6de;*/
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    /*position: relative;*/
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 25px;
}

.input-group-btn {
    /*position: relative;*/
    font-size: 0;
    white-space: nowrap;
}

.group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.chart {
    width: 100px;
    height: 130px;
    margin-bottom: 350px;
}

footervar {
    border-top: 1px solid #e6ecf0;
    /* padding: 11px 0; */
    position: fixed;
    background-color: #fff;
    bottom: -10%;
    width: 100%;
    z-index: 2;
}

.box-body img {
    width: 300px;
    height: 300px;
}

.box-body p {
    padding-left: 5px;
    text-align: center;
}

.headerbar {
    padding-bottom: 20px;
}

.box-header h3 {
    position: relative;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    font-size: 10px;
}

.music img {
    width: 500px;
    height: 500px;
}

.music-controller button {
    font-size: 10px;
    background-color: #fff;
}

.timeline>li>.fa,
.timeline>li>.glyphicon,
.timeline>li>.ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-envelope:before {
    content: "\f0e0";
}

.timeline>li>.timeline-item>.timeline-body,
.timeline>li>.timeline-item>.timeline-footer {
    padding: 10px;
}

.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.timeline>li>.timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}


/*BG centent*/

.bg-gray {
    color: #000;
    background-color: #d2d6de !important;
}

.bg-gray-light {
    background-color: #f7f7f7;
}

.bg-black {
    background-color: #111111 !important;
}

.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
    background-color: #dd4b39 !important;
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
    background-color: #f39c12 !important;
}

.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
    background-color: #00c0ef !important;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
    background-color: #3c8dbc !important;
}

.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
    background-color: #00a65a !important;
}

.bg-navy {
    background-color: #001f3f !important;
}

.bg-teal {
    background-color: #39cccc !important;
}

.bg-olive {
    background-color: #3d9970 !important;
}

.bg-lime {
    background-color: #01ff70 !important;
}

.bg-orange {
    background-color: #ff851b !important;
}

.bg-fuchsia {
    background-color: #f012be !important;
}

.bg-purple {
    background-color: #605ca8 !important;
}

.bg-maroon {
    background-color: #d81b60 !important;
}

.bg-gray-active {
    color: #000;
    background-color: #b5bbc8 !important;
}

.bg-black-active {
    background-color: #000000 !important;
}

.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
    background-color: #d33724 !important;
}

.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
    background-color: #db8b0b !important;
}

.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
    background-color: #00a7d0 !important;
}

.bg-blue-active {
    background-color: #005384 !important;
}

.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
    background-color: #357ca5 !important;
}

.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
    background-color: #008d4c !important;
}

.bg-navy-active {
    background-color: #001a35 !important;
}

.bg-teal-active {
    background-color: #30bbbb !important;
}

.bg-olive-active {
    background-color: #368763 !important;
}

.bg-lime-active {
    background-color: #00e765 !important;
}

.bg-orange-active {
    background-color: #ff7701 !important;
}

.bg-fuchsia-active {
    background-color: #db0ead !important;
}

.bg-purple-active {
    background-color: #555299 !important;
}

.bg-maroon-active {
    background-color: #ca195a !important;
}

[class^="bg-"].disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
}


/*timeline*/

.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}

.timeline > li > .timeline-item > .time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
}

.timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
}

.timeline > li > .timeline-item > .timeline-header > a {
    font-weight: 600;
}

.timeline > li > .timeline-item > .timeline-body,
.timeline > li > .timeline-item > .timeline-footer {
    padding: 10px;
}

.timeline > li > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}

.timeline > .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
}

.timeline-inverse > li > .timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.timeline-inverse > li > .timeline-item > .timeline-header {
    border-bottom-color: #ddd;
}


/*btn*/

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social >:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-social.btn-lg {
    padding-left: 61px;
}

.btn-social.btn-lg >:first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em;
}

.btn-social.btn-sm {
    padding-left: 38px;
}

.btn-social.btn-sm >:first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em;
}

.btn-social.btn-xs {
    padding-left: 30px;
}

.btn-social.btn-xs >:first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em;
}

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
}

.btn-social-icon >:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-social-icon.btn-lg {
    padding-left: 61px;
}

.btn-social-icon.btn-lg >:first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em;
}

.btn-social-icon.btn-sm {
    padding-left: 38px;
}

.btn-social-icon.btn-sm >:first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em;
}

.btn-social-icon.btn-xs {
    padding-left: 30px;
}

.btn-social-icon.btn-xs >:first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em;
}

.btn-social-icon >:first-child {
    border: none;
    text-align: center;
    width: 100%;
}

.btn-social-icon.btn-lg {
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0;
}

.btn-social-icon.btn-sm {
    height: 30px;
    width: 30px;
    padding-left: 0;
    padding-right: 0;
}

.btn-social-icon.btn-xs {
    height: 22px;
    width: 22px;
    padding-left: 0;
    padding-right: 0;
}

.btn-adn {
    color: #ffffff;
    background-color: #d87a68;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-adn:focus,
.btn-adn.focus {
    color: #ffffff;
    background-color: #ce563f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-adn:hover {
    color: #ffffff;
    background-color: #ce563f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-adn:active,
.btn-adn.active,
.open > .dropdown-toggle.btn-adn {
    color: #ffffff;
    background-color: #ce563f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-adn:active,
.btn-adn.active,
.open > .dropdown-toggle.btn-adn {
    background-image: none;
}

.btn-adn .badge {
    color: #d87a68;
    background-color: #ffffff;
}

.btn-bitbucket {
    color: #ffffff;
    background-color: #205081;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-bitbucket:focus,
.btn-bitbucket.focus {
    color: #ffffff;
    background-color: #163758;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-bitbucket:hover {
    color: #ffffff;
    background-color: #163758;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-bitbucket:active,
.btn-bitbucket.active,
.open > .dropdown-toggle.btn-bitbucket {
    color: #ffffff;
    background-color: #163758;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-bitbucket:active,
.btn-bitbucket.active,
.open > .dropdown-toggle.btn-bitbucket {
    background-image: none;
}

.btn-bitbucket .badge {
    color: #205081;
    background-color: #ffffff;
}

.btn-dropbox {
    color: #ffffff;
    background-color: #1087dd;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-dropbox:focus,
.btn-dropbox.focus {
    color: #ffffff;
    background-color: #0d6aad;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-dropbox:hover {
    color: #ffffff;
    background-color: #0d6aad;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-dropbox:active,
.btn-dropbox.active,
.open > .dropdown-toggle.btn-dropbox {
    color: #ffffff;
    background-color: #0d6aad;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-dropbox:active,
.btn-dropbox.active,
.open > .dropdown-toggle.btn-dropbox {
    background-image: none;
}

.btn-dropbox .badge {
    color: #1087dd;
    background-color: #ffffff;
}

.btn-facebook {
    color: #ffffff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:focus,
.btn-facebook.focus {
    color: #ffffff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover {
    color: #ffffff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
    color: #ffffff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
    background-image: none;
}

.btn-facebook .badge {
    color: #3b5998;
    background-color: #ffffff;
}

.btn-flickr {
    color: #ffffff;
    background-color: #ff0084;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-flickr:focus,
.btn-flickr.focus {
    color: #ffffff;
    background-color: #cc006a;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-flickr:hover {
    color: #ffffff;
    background-color: #cc006a;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-flickr:active,
.btn-flickr.active,
.open > .dropdown-toggle.btn-flickr {
    color: #ffffff;
    background-color: #cc006a;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-flickr:active,
.btn-flickr.active,
.open > .dropdown-toggle.btn-flickr {
    background-image: none;
}

.btn-flickr .badge {
    color: #ff0084;
    background-color: #ffffff;
}

.btn-foursquare {
    color: #ffffff;
    background-color: #f94877;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-foursquare:focus,
.btn-foursquare.focus {
    color: #ffffff;
    background-color: #f71752;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-foursquare:hover {
    color: #ffffff;
    background-color: #f71752;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-foursquare:active,
.btn-foursquare.active,
.open > .dropdown-toggle.btn-foursquare {
    color: #ffffff;
    background-color: #f71752;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-foursquare:active,
.btn-foursquare.active,
.open > .dropdown-toggle.btn-foursquare {
    background-image: none;
}

.btn-foursquare .badge {
    color: #f94877;
    background-color: #ffffff;
}

.btn-github {
    color: #ffffff;
    background-color: #444444;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-github:focus,
.btn-github.focus {
    color: #ffffff;
    background-color: #2b2b2b;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-github:hover {
    color: #ffffff;
    background-color: #2b2b2b;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-github:active,
.btn-github.active,
.open > .dropdown-toggle.btn-github {
    color: #ffffff;
    background-color: #2b2b2b;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-github:active,
.btn-github.active,
.open > .dropdown-toggle.btn-github {
    background-image: none;
}

.btn-github .badge {
    color: #444444;
    background-color: #ffffff;
}

.btn-google {
    color: #ffffff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:focus,
.btn-google.focus {
    color: #ffffff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:hover {
    color: #ffffff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
    color: #ffffff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
    background-image: none;
}

.btn-google .badge {
    color: #dd4b39;
    background-color: #ffffff;
}

.btn-instagram {
    color: #ffffff;
    background-color: #3f729b;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-instagram:focus,
.btn-instagram.focus {
    color: #ffffff;
    background-color: #305777;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-instagram:hover {
    color: #ffffff;
    background-color: #305777;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-instagram:active,
.btn-instagram.active,
.open > .dropdown-toggle.btn-instagram {
    color: #ffffff;
    background-color: #305777;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-instagram:active,
.btn-instagram.active,
.open > .dropdown-toggle.btn-instagram {
    background-image: none;
}

.btn-instagram .badge {
    color: #3f729b;
    background-color: #ffffff;
}

.btn-linkedin {
    color: #ffffff;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-linkedin:focus,
.btn-linkedin.focus {
    color: #ffffff;
    background-color: #005983;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-linkedin:hover {
    color: #ffffff;
    background-color: #005983;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin {
    color: #ffffff;
    background-color: #005983;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin {
    background-image: none;
}

.btn-linkedin .badge {
    color: #007bb6;
    background-color: #ffffff;
}

.btn-microsoft {
    color: #ffffff;
    background-color: #2672ec;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-microsoft:focus,
.btn-microsoft.focus {
    color: #ffffff;
    background-color: #125acd;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-microsoft:hover {
    color: #ffffff;
    background-color: #125acd;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-microsoft:active,
.btn-microsoft.active,
.open > .dropdown-toggle.btn-microsoft {
    color: #ffffff;
    background-color: #125acd;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-microsoft:active,
.btn-microsoft.active,
.open > .dropdown-toggle.btn-microsoft {
    background-image: none;
}

.btn-microsoft .badge {
    color: #2672ec;
    background-color: #ffffff;
}

.btn-openid {
    color: #ffffff;
    background-color: #f7931e;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-openid:focus,
.btn-openid.focus {
    color: #ffffff;
    background-color: #da7908;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-openid:hover {
    color: #ffffff;
    background-color: #da7908;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-openid:active,
.btn-openid.active,
.open > .dropdown-toggle.btn-openid {
    color: #ffffff;
    background-color: #da7908;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-openid:active,
.btn-openid.active,
.open > .dropdown-toggle.btn-openid {
    background-image: none;
}

.btn-openid .badge {
    color: #f7931e;
    background-color: #ffffff;
}

.btn-pinterest {
    color: #ffffff;
    background-color: #cb2027;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest:focus,
.btn-pinterest.focus {
    color: #ffffff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest:hover {
    color: #ffffff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest:active,
.btn-pinterest.active,
.open > .dropdown-toggle.btn-pinterest {
    color: #ffffff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest:active,
.btn-pinterest.active,
.open > .dropdown-toggle.btn-pinterest {
    background-image: none;
}

.btn-pinterest .badge {
    color: #cb2027;
    background-color: #ffffff;
}

.btn-reddit {
    color: #000000;
    background-color: #eff7ff;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-reddit:focus,
.btn-reddit.focus {
    color: #000000;
    background-color: #bcddff;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-reddit:hover {
    color: #000000;
    background-color: #bcddff;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-reddit:active,
.btn-reddit.active,
.open > .dropdown-toggle.btn-reddit {
    color: #000000;
    background-color: #bcddff;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-reddit:active,
.btn-reddit.active,
.open > .dropdown-toggle.btn-reddit {
    background-image: none;
}

.btn-reddit .badge {
    color: #eff7ff;
    background-color: #000000;
}

.btn-soundcloud {
    color: #ffffff;
    background-color: #ff5500;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-soundcloud:focus,
.btn-soundcloud.focus {
    color: #ffffff;
    background-color: #cc4400;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-soundcloud:hover {
    color: #ffffff;
    background-color: #cc4400;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-soundcloud:active,
.btn-soundcloud.active,
.open > .dropdown-toggle.btn-soundcloud {
    color: #ffffff;
    background-color: #cc4400;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-soundcloud:active,
.btn-soundcloud.active,
.open > .dropdown-toggle.btn-soundcloud {
    background-image: none;
}

.btn-soundcloud .badge {
    color: #ff5500;
    background-color: #ffffff;
}

.btn-tumblr {
    color: #ffffff;
    background-color: #2c4762;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-tumblr:focus,
.btn-tumblr.focus {
    color: #ffffff;
    background-color: #1c2d3f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-tumblr:hover {
    color: #ffffff;
    background-color: #1c2d3f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-tumblr:active,
.btn-tumblr.active,
.open > .dropdown-toggle.btn-tumblr {
    color: #ffffff;
    background-color: #1c2d3f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-tumblr:active,
.btn-tumblr.active,
.open > .dropdown-toggle.btn-tumblr {
    background-image: none;
}

.btn-tumblr .badge {
    color: #2c4762;
    background-color: #ffffff;
}

.btn-twitter {
    color: #ffffff;
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter:focus,
.btn-twitter.focus {
    color: #ffffff;
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter:hover {
    color: #ffffff;
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
    color: #ffffff;
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
    background-image: none;
}

.btn-twitter .badge {
    color: #55acee;
    background-color: #ffffff;
}

.btn-vimeo {
    color: #ffffff;
    background-color: #1ab7ea;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-vimeo:focus,
.btn-vimeo.focus {
    color: #ffffff;
    background-color: #1295bf;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-vimeo:hover {
    color: #ffffff;
    background-color: #1295bf;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-vimeo:active,
.btn-vimeo.active,
.open > .dropdown-toggle.btn-vimeo {
    color: #ffffff;
    background-color: #1295bf;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-vimeo:active,
.btn-vimeo.active,
.open > .dropdown-toggle.btn-vimeo {
    background-image: none;
}

.btn-vimeo .badge {
    color: #1ab7ea;
    background-color: #ffffff;
}

.btn-vk {
    color: #ffffff;
    background-color: #587ea3;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-vk:focus,
.btn-vk.focus {
    color: #ffffff;
    background-color: #466482;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-vk:hover {
    color: #ffffff;
    background-color: #466482;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-vk:active,
.btn-vk.active,
.open > .dropdown-toggle.btn-vk {
    color: #ffffff;
    background-color: #466482;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-vk:active,
.btn-vk.active,
.open > .dropdown-toggle.btn-vk {
    background-image: none;
}

.btn-vk .badge {
    color: #587ea3;
    background-color: #ffffff;
}

.btn-yahoo {
    color: #ffffff;
    background-color: #720e9e;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-yahoo:focus,
.btn-yahoo.focus {
    color: #ffffff;
    background-color: #500a6f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-yahoo:hover {
    color: #ffffff;
    background-color: #500a6f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-yahoo:active,
.btn-yahoo.active,
.open > .dropdown-toggle.btn-yahoo {
    color: #ffffff;
    background-color: #500a6f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-yahoo:active,
.btn-yahoo.active,
.open > .dropdown-toggle.btn-yahoo {
    background-image: none;
}

.btn-yahoo .badge {
    color: #720e9e;
    background-color: #ffffff;
}