<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.hexacore.ssy.mapper.ReplyMapper">

	
	<select id="list" resultType="com.hexacore.ssy.board.domain.Reply">
	select *
	from Replies
	where aid = #{aid}
	order by rid desc
	</select>
	
	
	<insert id="create">
	insert into Replies(aid, id, bid, rcontent)
	values (#{aid}, #{id}, #{bid}, #{rcontent})
	</insert>	
	
	<update id="update">
	update Replies 
	set rcontent = #{rcontent}, rregdate = now()
	where rid = #{rid}
	</update>
	
	<delete id="delete">
	delete from Replies 
	where rid = #{rid}
	</delete>
	
	<select id="listPage" resultType="Reply">
	select *
	from Replies
	where aid = #{aid}
	order by rid desc
	limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="count" resultType="int">
	select count(aid)
	from Replies
	where aid = #{aid}
	</select>
	
	<select id="getAid" resultType="int">
		select aid 
		from Replies 
		where rid = #{rid}
	</select>
	
		
	<!-- 게시글 삭제 전에 트랜잭션으로 댓글 삭제 -->
	<delete id="boardDelete">
	delete from replies 
	where aid = #{aid}
	</delete>
	

	
	
	
	
	
	
</mapper>