<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hexacore.ssy.mapper.SharingMapper">

	<insert id="create">
		INSERT INTO sharings (id, shcontent, eximgfilename, recordfilename)
		VALUES (#{id}, #{shcontent}, #{eximgfilename}, #{recordfilename})
	</insert>
	
	<insert id="createWithMp3">
		INSERT INTO sharings (id, shcontent, eximgfilename)
		VALUES (#{id}, #{shcontent}, #{eximgfilename})
	</insert>
	
	<select id="getRecordFileName" resultType="String">
		SELECT recordfilename
		FROM sharings
		WHERE shid = #{shid}
	</select>
	
	<insert id="comment">
		INSERT INTO comments (shid, id, ccontent)
		VALUES (#{shid}, #{id}, #{ccontent})
	</insert>
	
	<insert id="likeHistory">
		INSERT INTO likehistory (shid, id)
		VALUES (#{shid}, #{id})
	</insert>
	
	<select id="getComment" resultType="com.hexacore.ssy.sharing.domain.Comment">
		SELECT id, ccontent
		FROM comments
		WHERE shid = #{shid} and id = #{id}
		ORDER BY cregdate desc limit 1
	</select>
	
	<select id="getShid" resultType="Integer">
		SELECT shid
		FROM sharings
		ORDER BY shregdate desc limit 1
	</select>
	
	
	<select id="read" resultType="com.hexacore.ssy.sharing.domain.Sharing">
		SELECT shid, id, shcontent, likecnt, commentcnt, shregdate, eximgfilename
		FROM sharings
		WHERE shid = #{shid}
	</select>
	
	<select id="listAll" resultType="com.hexacore.ssy.sharing.domain.Sharing">
	<![CDATA[
		SELECT shid, id, shcontent, likecnt, commentcnt, eximgfilename, shregdate, recordfilename
		FROM sharings 
		WHERE id in (SELECT target FROM followlist WHERE sender = #{id}) OR id = #{id}
		ORDER BY shregdate desc
		]]>
	</select>
	
	<select id="listComment" resultType="com.hexacore.ssy.sharing.domain.Comment">
	<![CDATA[
		SELECT id, ccontent, cregdate
		FROM comments 
		WHERE shid = #{shid}
		ORDER BY cregdate asc
		]]>
	</select>
	
	<update id="update">
		UPDATE sharings
		SET shcontent = #{shcontent}
		WHERE shid = #{shid}
	</update>
	
	<update id="updateImg">
	<![CDATA[
		UPDATE sharings
		SET shcontent = #{shcontent}, eximgfilename = #{eximgfilename}
		WHERE shid = #{shid}
		]]>
	</update>
	
	<update id="updateLikeCnt">
		UPDATE sharings
		SET likecnt = likecnt + 1
		WHERE shid = #{shid}
	</update>
	
	<select id="getLikeCnt" resultType="Integer">
		SELECT likecnt
		FROM sharings
		WHERE shid = #{shid}
	</select>
	
	
	<delete id="deleteLikeHistory">
		DELETE FROM likehistory
		WHERE shid = #{shid} and id = #{id}
	</delete>
	
	<update id="fallLikeCnt">
		UPDATE sharings
		SET likecnt = likecnt - 1
		WHERE shid = #{shid}
	</update>
	
	<update id="updateCommentCnt">
		UPDATE sharings
		SET commentcnt = commentcnt + 1
		WHERE shid = #{shid}
	</update>
	
	<delete id="deleteSharing">
		DELETE FROM sharings
		WHERE shid = #{shid}
	</delete>
	
	<delete id="deleteComment">
		DELETE FROM comments
		WHERE shid = #{shid}
	</delete>
	
	<select id="checkLike" resultType="com.hexacore.ssy.sharing.domain.LikeHistory">
		SELECT shid, id
		FROM likehistory
		WHERE shid = #{shid} and id = #{id}
	</select>
	
	<select id="searchById" resultType="com.hexacore.ssy.sharing.domain.Sharing">
		SELECT shid, id, shcontent, likecnt, commentcnt, shregdate, eximgfilename, recordfilename
		FROM sharings
		WHERE id like CONCAT('%', #{id}, '%')
		ORDER BY shregdate desc
	</select>
	
	<select id="searchByTitle" resultType="com.hexacore.ssy.sharing.domain.Sharing">
		SELECT shid, id, shcontent, likecnt, commentcnt, shregdate, eximgfilename, recordfilename
		FROM sharings
		WHERE recordfilename like CONCAT('%', #{recordfilename}, '%')
		ORDER BY shregdate desc
	</select>
	
	<select id="searchByContent" resultType="com.hexacore.ssy.sharing.domain.Sharing">
		SELECT shid, id, shcontent, likecnt, commentcnt, shregdate, eximgfilename, recordfilename
		FROM sharings
		WHERE shcontent like CONCAT('%', #{shcontent}, '%')
		ORDER BY shregdate desc
	</select>
	
	<!-- 공유글  내에서 녹음 저장소 조회 -->
	<select id = "getRecord" resultType="com.hexacore.ssy.sharing.domain.RecordRepository">
		SELECT rrid, id, recordfilename, recordregdate
		FROM RecordRepository 
		WHERE id = #{id}
		ORDER BY recordregdate desc limit 5;
	</select>
	
	
	
	
</mapper>