<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hexacore.ssy.mapper.SharingMapper">

	<insert id="create">
		INSERT INTO sharings (id, rrid, shcontent, eximgfilename)
		VALUES (#{id}, #{rrid}, #{shcontent}, #{eximgfilename})
	</insert>
	
	<insert id="comment">
		INSERT INTO comments (shid, id, ccontent)
		VALUES (#{shid}, #{id}, #{ccontent})
	</insert>
	
	<insert id="likeHistory">
		INSERT INTO likehistory (shid, id)
		VALUES (#{shid}, #{id})
	</insert>
	
	<select id="getComment" resultType="com.hexacore.ssy.sharing.domain.Comment">
		SELECT id, ccontent
		FROM comments
		WHERE shid = #{shid} and id = #{id}
		ORDER BY cregdate desc limit 1
	</select>
	
	<select id="getShid" resultType="Integer">
		SELECT shid
		FROM sharings
		ORDER BY shregdate desc limit 1
	</select>
	
	
	<select id="read" resultType="com.hexacore.ssy.sharing.domain.Sharing">
		SELECT shid, id, shcontent, likecnt, commentcnt, shregdate, eximgfilename
		FROM sharings
		WHERE shid = #{shid}
	</select>
	
	<select id="listAll" resultType="com.hexacore.ssy.sharing.domain.Sharing">
	<![CDATA[
		SELECT shid, id, shcontent, likecnt, commentcnt, shregdate, eximgfilename
		FROM sharings 
		WHERE id in (SELECT target FROM followlist WHERE sender = 'kosta111') OR id = 'kosta111'
		ORDER BY shregdate desc
		]]>
	</select>
	
	<select id="listComment" resultType="com.hexacore.ssy.sharing.domain.Comment">
	<![CDATA[
		SELECT id, ccontent
		FROM comments 
		WHERE shid = #{shid}
		ORDER BY cregdate asc
		]]>
	</select>
	
	<update id="update">
		UPDATE sharings
		SET shcontent = #{shcontent}
		WHERE shid = #{shid}
	</update>
	
	<update id="updateImg">
	<![CDATA[
		UPDATE sharings
		SET shcontent = #{shcontent}, eximgfilename = #{eximgfilename}
		WHERE shid = #{shid}
		]]>
	</update>
	
	<update id="updateLikeCnt">
		UPDATE sharings
		SET likecnt = likecnt + 1
		WHERE shid = #{shid}
	</update>
	
	<update id="updateCommentCnt">
		UPDATE sharings
		SET commentcnt = commentcnt + 1
		WHERE shid = #{shid}
	</update>
	
	<delete id="delete">
		DELETE FROM sharings
		WHERE shid = #{shid}
	</delete>
	
	<select id="checkLike" resultType="com.hexacore.ssy.sharing.domain.LikeHistory">
		SELECT shid, id
		FROM likehistory
		WHERE shid = #{shid}
	</select>
	
	
	
	
</mapper>