<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.hexacore.ssy.mapper.SongMapper">

	<!-- 노래 가져오기 -->
	<select id="randomSong" resultType="com.hexacore.ssy.song.domain.Song">
	select sid,stitle,sfilename
	from Songs
	where sid > 0
	order by rand()
	limit 0,3
	</select>
	
	<!-- 노래  개수 -->
	<select id="countSong" resultType="int">
	<![CDATA[
	select count(sid)
	from Songs
	where sid > 0
	limit 0,3
	]]>
	</select>
	
	<select id="readSong" resultType="com.hexacore.ssy.song.domain.Song">
	select musicalnote1, musicalnote2, musicalnote3, musicalnote4
	from songs
	where sid = #{sid}
	</select>
	
	<!-- BEST 3 가져오기 -->
	<select id="bestSongs" resultType="com.hexacore.ssy.song.domain.Song">
		select sid, stitle, simgfilename, singer, playcnt
		from songs
		order by playcnt desc limit 3
	</select>
	
	<!-- 전체 노래 목록 가져오기 -->
	<select id="songsList" resultType="com.hexacore.ssy.song.domain.Song">
		select sid, simgfilename, stitle, singer, playcnt
		from songs
		order by playcnt desc, sid asc
	</select>
	
	
	<!-- 애창곡 담기 -->
	<insert id = "addFavorite">
		insert into favorites (id, sid) 
		values (#{id}, #{sid})
	</insert>
	
	<!-- 애창곡 삭제하기 -->
	<delete id="removeFavorite">
		delete from favorites
		where fid = #{fid}
	</delete>
	
	<!-- 애창곡 중복 체크 -->
	<select id="checkFavorite" resultType="com.hexacore.ssy.mypage.domain.Favorite">
	 select fid 
	 from favorites 
	 where id=#{id} and sid=#{sid}
	</select>
	
	<!-- 노래 부른 횟수 증가 -->
	<update id="updatePlayCnt">
		update songs
		set playcnt = playcnt + 1
		where sid = #{sid}
	</update>
</mapper>